.change-password-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/pictureowner/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
 
  
  .form-container {
    background-color: rgb(255, 255, 255);
    padding: 28px;
    border-radius: 10px;
    width: 380px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .input-group {
    margin-bottom: 16px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #000000;
    color: black;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #22c55e;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #16a34a;
  }
  