/* ตั้งค่าพื้นหลังและจัดกึ่งกลาง */
.background {
  min-height: 100vh;
  padding-bottom: 20px;
  /*background-image: url('/pictureowner/bg.png');*/
  background:linear-gradient(to bottom, #F5F5F5, #DCE4E8);
  background-position: center;
  background-repeat: no-repeat;
}

/* ปรับหัวข้อ */
.add-header-title {
  position: relative;
  top: 50px; 
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-header-title h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* ปรับการแสดงผลในส่วนของรายละเอียด */
.add-container {
  position: relative;
  top: 50px;
  margin: 55px auto;
  background-color: white;
  max-width: 750px;
  min-height: 400px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: transform 0.3s ease;
}

.add-container:hover {
  transform: translateY(-5px);
}

.debug-info .label {
  font-weight: bold;
  color: black;
}

.debug-info .value {
  color: #1B9FEC; 
}

/* ปรับตาราง */
.table-wrapper {
  margin: 15;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}

thead tr {
  background-color: #f8f9fa;
  color: #333;
  font-weight: 600;
}

tbody tr {
  transition: background-color 0.2s ease;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.sport-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center; /* เพิ่มเพื่อให้ข้อความอยู่กึ่งกลาง */
}

/* ปรับ bottom-bar */
.bottom-bar {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.bottom-bar p {
  font-size: 16px;
  color: #333;
  margin: 0;
}

/* ปุ่มยืนยัน */
.confirm-button {
  padding: 12px 20px;
  background-color: #48FF48;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.confirm-button:hover {
  background-color: #3eeb3e;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}