
.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  transition: left 0.3s ease;
  flex-direction: column;
  transform: translateX(-100%);
  padding: 10px;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.logo {
 background-color: black;  
 color: white;  
 display: flex;  
 text-align: center;
 font-size: 24px;
 margin-left: 50px;
 
  
}

.sidebar-link {
  text-decoration: none;
  color: inherit; /* คงสีตามปกติ */
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 20px;
}

.sidebar li img {
  width: 20px;
  margin-right: 10px;
}
.sidebar li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}


.sidebar li:hover {
  background-color: #807f7f;  
}




