/* ตั้งค่าพื้นหลัง */
.background {
  min-height: 100vh;
  padding-bottom: 20px;
  background-image: url('/pictureowner/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ปรับหัวข้อ */
.detail-header-title {
  position: relative;
  top: 50px;           /* ขยับลง */
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-header-title h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* Container สำหรับเนื้อหา */
.detail-container {
  position: relative;
  top: 45px;
  margin: 40px auto;
  background-color: white;
  max-width: 1200px;
  min-height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* ส่วนหัวข้อของ section */
.detail-section-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid #1B9FEC;
  padding-bottom: 5px;
}

/* จัดการข้อมูลโปรโมชั่น */
.promo-info {
  padding: 20px 0;
  border-bottom: 2px solid #B4B1B1;
  margin-bottom: 20px;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-row h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
}

.info-row h3:first-child {
  color: #000000;
  min-width: 150px;
  text-align: left;
  margin-right: 20px;
  font-weight: bold;
}

.highlight-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* ปรับสถานะให้ไม่มีกรอบ */
.กำลังดำเนินการ {
  /*background-color: #ccffcc;*/
  color: #00cc00;
  padding: 0 4px;
  border-radius: 0;
}

.หมดอายุแล้ว {
  /*background-color: #ffcccc;*/
  color: #ff0000;
  padding: 0 4px;
  border-radius: 0;
}

/* ตารางโปรโมชั่น */
.promo-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.promo-table th {
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  /*background: linear-gradient(135deg, #1B9FEC 0%, #48c6ef 100%);*/
  background-color: #1B9FEC;
  color: white;
  text-align: center;
  border-bottom: 2px solid #B4B1B1;
}

.promo-table td {
  padding: 15px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #B4B1B1;
  transition: background-color 0.3s ease;
}

.promo-table tr:nth-child(even) {
  background-color: #f8f9fa;
}

.promo-table tr:hover td {
  background-color: #e6f0fa;
}

.table-center {
  text-align: center;
}

/* ปุ่ม */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.back-button {
  background-color: #48FF48;;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  width: 260px;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
  background-color: #1790d8;
}